<!-- Include in your component's template -->
<nav class="navbar navbar-expand-lg nv">
  <a class="navbar-brand" href="/">Text Editor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <mat-slide-toggle (change)="toggleDarkMode()" [checked]="darkMode">Dark Mode</mat-slide-toggle>
      </li>
    </ul>
  </div>
</nav>
<app-text-editor></app-text-editor>