.editor-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-top: 5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px #d62d2d80;
  transition: transform 0.7s ease-in-out;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.editor {
  border: 1px solid #00bcd4;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  min-height: 200px;
  overflow: auto;
  border-radius: 12px;
  outline: none;
}

.toolbar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 10px;
}

.editor-field {
  width: 100%;
}

.table-insert-form {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.fixed-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #f1f1f1;
}

.savebtn {
  margin-left: 16px;
  width: 100px;
}

::ng-deep .mat-tooltip {
  background-color: #333333; /* Tooltip background color */
  color: #e71313; /* Tooltip text color */
  font-size: 14px; /* Tooltip font size */
  padding: 10px; /* Tooltip padding */
  border-radius: 4px;
  z-index: 1000 !important;
}

.mat-tooltip {
  z-index: 1000 !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 9999;
}

/* Override SweetAlert styles */
.swal2-popup {
  width: 600px; /* Set the desired width */
  height: auto; /* Set auto height or specify a fixed height */
  max-height: 90%; /* Set a maximum height if needed */
}

.swal2-title {
  font-size: 24px; /* Customize title font size */
}

.swal2-content {
  font-size: 18px; /* Customize content font size */
}

.fresh-color-1 mat-icon {
  color: #f44336; /* Red */
}

.fresh-color-2 mat-icon {
  color: #4caf50; /* Green */
}

.fresh-color-3 mat-icon {
  color: #2196f3; /* Blue */
}

.fresh-color-4 mat-icon {
  color: #ffeb3b; /* Yellow */
}

.fresh-color-5 mat-icon {
  color: #9c27b0; /* Purple */
}

.fresh-color-6 mat-icon {
  color: #ff5722; /* Deep Orange */
}

.fresh-color-7 mat-icon {
  color: #00bcd4; /* Cyan */
}

.fresh-color-8 mat-icon {
  color: #8bc34a; /* Light Green */
}

.fresh-color-9 mat-icon {
  color: #e91e63;
}

.fresh-color-10 mat-icon {
  color: #3f51b5;
}

.table-insert-form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e3f2fd;
}

.savebtn {
  margin-top: 20px;
}

.toolbar button[title]:hover:after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333;
  color: #6dc4fd;
  font-size: 12px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  z-index: 1;
}

.custom-table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 12px;
  height: 40px; /* Fixed height for table cells */
}

.custom-table thead th {
  background-color: #f4f4f4;
}

.custom-table thead th:first-child {
  border-top-left-radius: 8px;
}

.custom-table thead th:last-child {
  border-top-right-radius: 8px;
}

.custom-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.custom-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

video {
  border: 1px solid black;
  border-radius: 8px;
}

img {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 100%;
}
